@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@300&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color:  #DEBD68;
    text-decoration: none;
    padding: 35px;
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
}
nav{
    display: flex;
    justify-content: space-around;
}
footer .social img {
    padding-top: 15px;
    margin-top: 25px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo{
    width: 175px;
    height: 170px;
    display: flex;
    justify-content: space-around;
}
footer a {
    color: #DEBD68 ;
    text-decoration: none;
    font-size: 1.5em;
}
footer a:hover{
    color: #326273;
    text-decoration: underline;
    background-color: #DEBD68;
}
footer{
    background-color: #5C9EAD;
    color: #DEBD68;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main section{
    text-align: center;
}
header{
    background-color:#5C9EAD ;
    display: grid;
    grid-template-columns: 150px auto;
}
.home-title{
    text-align: center;
    font-size: 4.5em;
    color:#326273;
    font-family: 'Dancing Script', cursive;
    grid-column: 4/6;
    grid-row: 2/3;
    
}
.home-subtitle{
    text-align: center;
    color:#326273;
    font-size: 2em;
}

p {
    font-family: 'Oswald', sans-serif;
}

footer .social img {
    padding-top: 15px;
    margin-top: 25px;
}
.hero-banner {
    width: 100%;
    margin: 0 auto;
    padding-top: 3em;
    border: 2em;
}
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.temples {
    grid-column: 3/8;
    grid-row: 1/2;
    margin-top: 25px;
}
.cotemp {
    grid-column: 3/8;
    grid-row: 2/3;
}
.more-info {
    grid-column: 3/8;
    grid-row: 3/4;
}

.temples h2 {
    text-align: center;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    border: 10px solid#DEBD68;
    width: 380px;
    padding: 20px;
}
.cotemp h2 {
    text-align: center;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    border: 10px solid#DEBD68;
    width: 500px;
    padding: 20px;
}
.more-info h2 {
    text-align: center;
    font-size: 3em;
    font-family: 'Dancing Script', cursive;
    border: 10px solid#DEBD68;
    width: 500px;
    padding: 20px;
}
.temples-p {
    font-size: 2em;
    padding: 20px;
    text-align: left;
    width: 900px;
    border: 10px solid #5C9EAD;

.cotemp-p {
    font-size: 2em;
    padding: 20px;
    text-align: left;
    width: 900px;
    border: 10px solid #5C9EAD;
}

.contact-us {
    font-size: 2em;
    padding: 20px;
    text-align: left;
    width: 900px;
    border: 10px solid #5C9EAD;
}

/*Open House*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/5 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}